HTTP_ADDRESS=:8082
DB_DSN=postgres://postgres:postgres@localhost:5433/user_db?sslmode=disable

# Local host listener: localhost:29092
# Docker network listener: kafka:9092
KAFKA_BROKERS=localhost:29092

ORDER_SERVICE_URL=http://localhost:8083
AUTH_SERVICE_URL=http://localhost:8081
HEADER_HMAC_KEY=diploma-internal-hmac-secret-key-2026
LOG_LEVEL=info
